<h1>Hi <%= @user.name %>!</h1>

<p>Click on the link below to set a password and access your account:</p>

<%= link_to "Set New Password", set_password_url(permalink: @user.permalink, activation_code: @user.activation_code) %>