#home_main{
	background-image: url('deserveit_yourdream.jpg');
	background-size: cover;
	background-position: center center;
	min-height: 360px;
	margin-top: -20px;
	padding: 60px 40px 0 40px;
	text-align: center;
	width: 100%;
}

.hiw_step{
	text-align: center;
  	vertical-align: middle;
  	padding: 20px;
}

.hiw_icon{
	height: 40px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 30px;
	color: #191C35;
}

#get_started{
	text-align: center;
	padding: 30px 10px;
}

#get_started input[type="text"]{
    text-align: center;
    line-height: 36px;
}