<footer class="footer background_gray">
  <div>
    <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-lg color_blue"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-medium fa-lg color_blue"></i> </div>

  <h4>DeserveIt.xyz</h4>
  <div>
    <div class='font_12'>/dih-zurv-it-eks-wahy-zee/ (noun)</div>
    <div class='margin_top_10'>
      An app to develop habits & reach goals. <!-- & get rewarded. --><br> 
      A methodology to deserve what you want to buy. <br>
      A lifestyle to improve every day.
    </div>
  </div>
  
  <br>

  <small>
    Made with <i class="fa fa-heart color_blue"></i> in SF by Joy Liu</a>
  </small>
</footer>
